<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class=" container-xxl " id="kt_content_container">
        <form id="kt_ecommerce_add_category_form"
            class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
            data-kt-redirect="/jet-html-free/?page=apps/ecommerce/catalog/categories">
            <!--begin::Aside column-->
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                <!--begin::ảnh-->
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>logo</h2>
                        </div>
                    </div>
                    <div class="card-body text-center pt-0">
                        <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true">
                            <div *ngIf="data.attachment!=null && data.attachment.data!=null" class="image-input-wrapper w-150px h-150px" [style.background-image]="'url(data:' + data.attachment.type + ';base64,' + data.attachment.data + ')'"></div>
                            <div *ngIf="data.attachment==null || data.attachment.data==null" class="image-input-wrapper w-150px h-150px"></div>
                        </div>
                    </div>
                </div>
                <!--end::Thumbnail settings-->
                <!--begin::status-->
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>trạng thái</h2>
                        </div>
                        <div class="card-toolbar" *ngIf="data.status==='hoạt động'">
                            <div class="rounded-circle bg-success w-15px h-15px"></div>
                        </div>
                        <div class="card-toolbar" *ngIf="data.status!=='hoạt động'">
                            <div class="rounded-circle bg-danger w-15px h-15px"></div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <select class="form-select mb-2 select2-hidden-accessible" data-control="select2" data-hide-search="true" tabindex="-1" aria-hidden="true">
                            <option selected>{{data.status}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>thông tin chung</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="input-container">
                            <div class="form-group mb-3">
                                <label class="required form-label">tên thương hiệu</label>
                                <input type="text" name="brand_name" class="form-control mb-2" [(ngModel)]="data.name" disabled>
                            </div>
                            <div class="form-group mb-3">
                                <label class="required form-label">năm thành lập</label>
                                <input type="text" name="birth_of_date" class="form-control mb-2" [(ngModel)]="data.birthOfDate" disabled>
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="form-group mb-3">
                                <label class="required form-label">email</label>
                                <input type="text" name="brand_email" class="form-control mb-2" [(ngModel)]="data.email" disabled>
                            </div>
                            <div class="form-group mb-3">
                                <label class="required form-label">website</label>
                                <input type="text" name="brand_website" class="form-control mb-2" [(ngModel)]="data.website" disabled>
                            </div>
                        </div>
                        <div>
                            <label class="form-label">địa chỉ</label>
                            <input class="form-control mb-2" name="brand_address" [(ngModel)]="data.address" disabled>
                        </div>
                        <div>
                            <label class="form-label">mô tả</label>
                            <textarea class="form-control mb-2" name="brand_description" rows="4" [(ngModel)]="data.description" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-xxl form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
            <div class="card-body pt-0">
                <div class="d-flex flex-column gap-5 gap-md-7">
                    <div class="fs-3 fw-bolder mb-n2">thông tin chi tiết</div>
                    <div class="d-flex flex-column flex-md-row gap-5">
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <label class="required form-label">ngày tạo</label>
                            <input class="form-control" name="brand_created_date" [(ngModel)]="data.createdDate" disabled>
                        </div>
                        <div class="flex-row-fluid">
                            <label class="form-label">người tạo</label>
                            <input class="form-control" name="brand_created_by" [(ngModel)]="data.createdBy"  disabled>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-5">
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <label class="required form-label">ngày sửa</label>
                            <input class="form-control" name="brand_modified_date" [(ngModel)]="data.modifiedDate" disabled>
                        </div>
        
                        <div class="flex-row-fluid">
                            <label class="form-label">người sửa</label>
                            <input class="form-control" name="brand_modified_by" [(ngModel)]="data.modifiedBy" disabled>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-5">
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <label class="required form-label">số lượng nhập</label>
                            <input class="form-control" name="brand_sum_import" [(ngModel)]="data.sumImport" disabled>
                        </div>
                        <div class="flex-row-fluid">
                            <label class="form-label">số lượng bán</label>
                            <input class="form-control" name="brand_sum_export" [(ngModel)]="data.sumExport" disabled>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row gap-5">
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <label class="required form-label">số lượng sản phẩm theo Series</label>
                            <input class="form-control" name="brand_sum_series" [(ngModel)]="data.sumSeries" disabled>
                        </div>
        
                        <div class="flex-row-fluid">
                            <label class="form-label">số lượng sản phẩm theo version</label>
                            <input class="form-control" name="brand_sum_version" [(ngModel)]="data.sumVersion" disabled>
                        </div>
                    </div>
                    <div class="fv-row fv-plugins-icon-container">
                        <div class="fv-row">
                            <label class="form-label">số lượng sản phẩm</label>
                            <div class="form-floating border rounded">
                                {{data.sumProduct}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
              <button (mousedown)="cancel()"class="btn btn-light me-5"> Quay lại </button>
            </div>
          </div>
          </div>
</div>