<div class=" container-xxl " id="kt_content_container">
  <div class="card card-flush">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5 d-flex justify-content-between">
      <div class="card-title">
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-4"><i class="bi bi-search"></i></span>
          <input type="text" data-kt-ecommerce-category-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="tìm kiếm loại sản phẩm">
        </div>
      </div>
      <div class="card-toolbar">
        <button class="btn btn-primary" (mousedown)="create()"> thêm loại sản phẩm </button>
      </div>
    </div>

    <div class="card-body pt-0">
      <div id="kt_ecommerce_category_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="table-responsive"><table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_ecommerce_category_table">
        <thead>
        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
          <th class="min-w-250px sorting" tabindex="0" aria-controls="kt_ecommerce_category_table" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 776.562px;">loại sản phẩm</th>
          <th class="min-w-150px sorting" tabindex="0" aria-controls="kt_ecommerce_category_table" rowspan="1" colspan="1" aria-label="Category Type: activate to sort column ascending" style="width: 220.688px;">trạng thái</th>
          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">hành động</th>
        </tr>
        </thead>
        <tbody class="fw-bold text-gray-600">
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img src="../vibee/src/assets/img/Apple-Logo.png" class="img-fluid rounded avatar-50 mr-3" alt="image">
              <div>
                máy tính bảng
                <p class="mb-0"><small>máy tính bảng là một thiết bị di động, thông thường có hệ điều hành di động và mạch xử lý, màn hình cảm ứng và viên pin có thể sạc lại để sử dụng rất nhiều lần.</small></p>
              </div>
            </div>
          </td>
          <td class="align-items-center">
            <div class="badge badge-light-success">hoạt động</div>
          </td>
          <td>
            <div class="d-flex align-items-center list-action">
              <button class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" (mousedown)="detail(1)">
                <i class="bi bi-eye mr-0"></i>
              </button>
              <button class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (mousedown)="edit(1)">
                <i class="bi bi-pencil-fill mr-0"></i>
              </button>
              <button class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" (mousedown)="delete(1)">
                <i class="bi bi-trash mr-0"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-start">
            <div class="dataTables_length" id="kt_ecommerce_category_table_length">
              <label>
                <select name="kt_ecommerce_category_table_length" aria-controls="kt_ecommerce_category_table" class="form-select form-select-sm form-select-solid">
                  <option value="10">10</option><option value="25">25</option><option value="50">50</option>
                  <option value="100">100</option></select>
              </label>
            </div>
          </div>
          <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end">
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled">
                  <button href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="0" tabindex="0" class="page-link">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>
                <li class="paginate_button page-item active">
                  <button href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="1" tabindex="0" class="page-link" style="height: 32px">1</button>
                </li>
                <li class="paginate_button page-item ">
                  <button href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="2" tabindex="0" class="page-link" style="height: 32px">2</button>
                </li>
                <li class="paginate_button page-item">
                  <button href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="3" tabindex="0" class="page-link">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
