<div class="content d-flex flex-column flex-column-fluid" id="kt_content" data-select2-id="select2-data-kt_content">
    <div class=" container-xxl " id="kt_content_container" data-select2-id="select2-data-kt_content_container">
        <form id="kt_ecommerce_edit_order_form"
            class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
            data-kt-redirect="/jet-html-free/?page=apps/ecommerce/sales/listing"
            data-select2-id="select2-data-kt_ecommerce_edit_order_form">
            <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>bán hàng tại quầy</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10" data-select2-id="select2-data-17-iiui">
                            <div class="fv-row">
                                <label class="form-label">mã đơn hàng</label>
                                <div class="fw-bolder fs-3">#14040</div>
                            </div>
                            <div class="fv-row fv-plugins-icon-container" data-select2-id="select2-data-24-jey6">
                                <label class="required form-label">phương thức thanh toán</label>
                                <select class="form-select mb-2 select2-hidden-accessible" (change)="selectTransferMethod($event)">
                                    <option data-select2-id="select2-data-8-zkwg" [value]="'money'">tiền mặt</option>
                                    <option value="cod" data-select2-id="select2-data-25-rveg" [value]="'payment'">chuyển khoản</option>
                                </select>
                            </div>
                            <div class="fv-row fv-plugins-icon-container" data-select2-id="select2-data-16-25jm">
                                <label class="required form-label">phương thức vận chuyển</label>
                                <select class="form-select mb-2 select2-hidden-accessible" (change)="selectTransactionMethod($event)">
                                    <option data-select2-id="select2-data-10-1q4j" [value]="'offline'">nhận sản phẩm tại cửa hàng</option>
                                    <option value="none" data-select2-id="select2-data-19-uzgj" [value]="'online'">giao hàng tận nơi</option>
                                </select>
                            </div>
                            <div class="fv-row fv-plugins-icon-container" data-select2-id="select2-data-16-25jm" *ngIf="request.transactionMethod == 'online'">
                                <label class="required form-label">công ty vận chuyển</label>
                                <select class="form-select mb-2 select2-hidden-accessible" (change)="selectCompany($event)">
                                    <option data-select2-id="select2-data-10-1q4j" [value]="1">giao hàng tiết kiệm</option>
                                    <option value="none" data-select2-id="select2-data-19-uzgj" [value]="2">viettel post</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>chọn sản phẩm</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10">
                            <div>
                                <label class="form-label">thêm sản phẩm vào đơn hàng</label>
                                <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 border border-dashed rounded pt-3 pb-1 px-2 mb-5 mh-300px overflow-scroll"
                                    id="kt_ecommerce_edit_order_selected_products">
                                    <span class="w-100 text-muted ">Chọn một hoặc nhiều sản phẩm từ danh sách bên dưới bằng cách đánh dấu vào hộp kiểm.</span>
                                </div>
                                <div class="fw-bolder fs-4">
                                    tổng tiền: VND
                                    <span id="kt_ecommerce_edit_order_total_price">
                                        0.000
                                    </span>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="d-flex align-items-center position-relative mb-n7 ">
                                <span class="svg-icon svg-icon-1 position-absolute ms-4"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                            transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                        <path
                                            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                            fill="currentColor"></path>
                                    </svg></span>
                                <input type="text" data-kt-ecommerce-edit-order-filter="search"
                                    class="form-control form-control-solid w-100 w-lg-50 ps-14"  placeholder="Tìm kiếm theo tên">
                            </div>
                            <div id="kt_ecommerce_edit_order_product_table_wrapper"
                                class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="table-responsive">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead"
                                            style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                            <div class="dataTables_scrollHeadInner"
                                                style="box-sizing: content-box; width: 807px; padding-right: 5px;">
                                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" style="margin-left: 0px; width: 807px;">
                                                    <thead>
                                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="w-25px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 24.9844px;" aria-label=""> </th>
                                                            <th class="min-w-200px sorting" tabindex="0"
                                                                aria-controls="kt_ecommerce_edit_order_product_table"
                                                                rowspan="1" colspan="1" style="width: 474.312px;"
                                                                aria-label="Product: activate to sort column ascending">
                                                                tên sản phẩm</th>
                                                            <th class="min-w-100px text-end pe-5 sorting" tabindex="0"
                                                                aria-controls="kt_ecommerce_edit_order_product_table"
                                                                rowspan="1" colspan="1" style="width: 265.453px;"
                                                                aria-label="Qty Remaining: activate to sort column ascending">
                                                                tồn kho</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="dataTables_scrollBody"
                                            style="position: relative; overflow: auto; max-height: 400px; width: 100%;">
                                            <table
                                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                                id="kt_ecommerce_edit_order_product_table" style="width: 100%;">
                                                <thead>
                                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0"
                                                        style="height: 0px;">
                                                        <th class="w-25px pe-2 sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 24.9844px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                            <div class="dataTables_sizing"
                                                                style="height: 0px; overflow: hidden;"></div>
                                                                
                                                        </th>
                                                        <th class="min-w-200px sorting"
                                                            aria-controls="kt_ecommerce_edit_order_product_table"
                                                            rowspan="1" colspan="1"
                                                            style="width: 474.312px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                            <div class="dataTables_sizing"
                                                                style="height: 0px; overflow: hidden;">tên sản phẩm</div>
                                                        </th>
                                                        <th class="min-w-100px text-end pe-5 sorting"
                                                            aria-controls="kt_ecommerce_edit_order_product_table"
                                                            rowspan="1" colspan="1"
                                                            style="width: 265.453px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                                                            <div class="dataTables_sizing"
                                                                style="height: 0px; overflow: hidden;">tồn kho
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="fw-bold text-gray-600">
                                                    <tr class="odd">
                                                        <td>
                                                            <button class="btn btn-light-primary">
                                                                <span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                                        viewBox="0 0 24 24" fill="none">
                                                                        <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1"
                                                                            transform="rotate(-90 11 18)" fill="currentColor"></rect>
                                                                        <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                                                                    </svg></span>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center"
                                                                data-kt-ecommerce-edit-order-filter="product"
                                                                data-kt-ecommerce-edit-order-id="product_1">
                                                                <a href="/jet-html-free/?page=apps/ecommerce/catalog/edit-product"
                                                                    class="symbol symbol-50px">
                                                                    <span class="symbol-label"
                                                                        style="background-image:url(/jet-html-free/assets/media//stock/ecommerce/1.gif);"></span>
                                                                </a>

                                                                <div class="ms-5">
                                                                    <a href="/jet-html-free/?page=apps/ecommerce/catalog/edit-product"
                                                                        class="text-gray-800 text-hover-primary fs-5 fw-bolder">Product
                                                                        1</a>
                                                                    <div class="fw-bold fs-7">Price: $<span
                                                                            data-kt-ecommerce-edit-order-filter="price">199.00</span>
                                                                    </div>
                                                                    <div class="text-muted fs-7">SKU: 02918008</div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-end pe-5" data-order="26">
                                                            <span class="fw-bolder ms-3">26</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                    </div>
                                    <div
                                        class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-flush py-4" *ngIf="request.transactionMethod=='online'">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>địa nhận hàng</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-5 gap-md-7">
                            <div class="fs-3 fw-bolder mb-n2">thông tin đơn hàng</div>
                            <div class="d-flex flex-column flex-md-row gap-5">
                                <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                                    <label class="required form-label">tên người nhận</label>
                                    <input class="form-control" name="billing_order_address_1"
                                        placeholder="Address Line 1" value="">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="flex-row-fluid">
                                    <label class="form-label">số điện thoại</label>
                                    <input class="form-control" name="billing_order_address_2"
                                        placeholder="Address Line 2">
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row">
                                <div class="flex-row-fluid">
                                    <label class="form-label">địa chỉ nhận hàng</label>
                                    <input class="form-control" name="billing_order_city" placeholder="" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/jet-html-free/?page=apps/ecommerce/catalog/products" id="kt_ecommerce_edit_order_cancel"
                        class="btn btn-light me-5">
                        xóa hết
                    </a>
                    <button type="submit" id="kt_ecommerce_edit_order_submit" class="btn btn-primary" (mousedown)="transaction()">
                        <span class="indicator-label">
                            thanh toán
                        </span>
                    </button>
                </div>
            </div>
            <div></div>
        </form>
    </div>
    <div class="modal fade show" tabindex="-1" aria-modal="true" role="dialog" style="display: block;" *ngIf="open">
            <div class="modal-dialog modal-dialog-centered mw-650px">
                <div class="modal-content">
                    <div class="form fv-plugins-bootstrap5 fv-plugins-framework">
                        <div class="modal-header" id="kt_modal_add_customer_header">
                            <h2 class="fw-bolder">thanh toán</h2>
                            <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                (mousedown)="model()">
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                            transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                            transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="modal-body py-10 px-lg-17">
                            <div class="scroll-y me-n7 pe-7" data-kt-scroll="true"
                                data-kt-scroll-activate="{default: false, lg: true}"
                                data-kt-scroll-max-height="auto"
                                data-kt-scroll-dependencies="#kt_modal_add_customer_header"
                                data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
                                data-kt-scroll-offset="300px" style="max-height: 908px;">
                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                    <div class="card-body text-center pt-0">
                                        <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true">
                                            <div class="image-input-wrapper w-150px h-150px" [style.background-image]="'(/assets/img/word-logo.jpg)'"></div>
                                        </div>
                                        <div class="text-muted fs-7">số tài khoản</div>
                                    </div>
                                </div>
                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                    <div class="form-check form-check-custom form-check-solid mb-2">
                                        <input class="form-check-input" type="checkbox" (change)="changeTypeTransfer()" checked>
                                        <label class="form-check-label">
                                            chuyển khoản 24/7
                                        </label>
                                    </div>
                                </div>
                                <div class="fv-row mb-7 fv-plugins-icon-container" *ngIf="!request.transfer247">
                                    <label class="form-label">ảnh xác minh</label>
                                        <div class="card-body text-center pt-0">
                                            <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true">
                                                <div *ngIf="images" class="image-input-wrapper w-150px h-150px" [style.background-image]="'url(' + images + ')'"></div>
                                                <div *ngIf="!images" class="image-input-wrapper w-150px h-150px"></div>
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="uploadFile($event)">
                                                    <input type="hidden" name="avatar_remove">
                                                </label>
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                                                    <i class="bi bi-x fs-2"></i>
                                                </span>
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                    data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                                                    <i class="bi bi-x fs-2"></i>
                                                </span>
                                            </div>
                                            <div class="text-muted fs-7">định dạng *.png, *.jpg and *.jpeg</div>
                                        </div>
                                </div>
                                <div class="fv-row mb-7 fv-plugins-icon-container" *ngIf="!request.transfer247">
                                    <label class="form-label">lý do</label>
                                    <textarea class="form-control mb-2" name="product_description" rows="4"
                                        [(ngModel)]="request.description" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer flex-center">
                                <button type="reset" class="btn btn-light me-3" (mousedown)="model()">
                                    đóng
                                </button>
                                <button type="submit" class="btn btn-primary" (mousedown)="confirm()">
                                    <span class="indicator-label">
                                        hoàn thành
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>