<div>
  <header style="position: absolute; top: 100px;">
    <app-header-admin (sendData)="selectComponent($event)"></app-header-admin>
  </header>
  <main style="position: absolute; top: 100px; left: 240px; right: 0; bottom: 0; padding: 20px;">
    <ng-container *ngIf="selectedComponent==='home'">
      <app-home-admin></app-home-admin>
    </ng-container>
    <ng-container *ngIf="selectedComponent==='category'">
      <app-category></app-category>
    </ng-container>
  </main>
  <footer>
    <app-footer-admin></app-footer-admin>
  </footer>
</div>
