<ng-container *ngIf="page==='waiting'">
    <app-order-waiting (sendData)="selectComponent($event)"></app-order-waiting>
</ng-container>
<ng-container *ngIf="page==='transport'">
    <app-order-transport (sendData)="selectComponent($event)"></app-order-transport>
</ng-container>
<ng-container *ngIf="page==='complete'">
    <app-order-complete (sendData)="selectComponent($event)"></app-order-complete>
</ng-container>
<ng-container *ngIf="page==='cancel'">
    <app-order-cancel></app-order-cancel>
</ng-container>
<ng-container *ngIf="page==='detail'">
    <app-order-detail [billId]="data.data"></app-order-detail>
</ng-container>